@import "tailwindcss";

/* Fix for footer covering content */
:root {
  --footer-height: 80px;
}

body {
  padding-bottom: var(--footer-height);
}

main {
  min-height: calc(100vh - var(--footer-height));
}

@media (max-width: 768px) {
  :root {
	--footer-height: 80px;
  }
}

